* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  font-size: 1vw;
  line-height: 1.15;
}

body {
  font-family: "GothamPro", "Tahoma", sans-serif;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff;
}

.wow {
  visibility: hidden;
}

/*ШРИФТЫ*/
@font-face {
  font-family: 'GothamPro';
  src: url('../fonts/GothamPro.eot');
  src: url('../fonts/GothamPro.woff') format('woff');
}

@font-face {
  font-family: 'GothamPro-Medium';
  src: url('../fonts/GothamPro-Medium.woff') format('woff');
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url('../fonts/GothamPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'GothamPro-Black';
  src: url('../fonts/GothamPro-Black.eot');
  src: url('../fonts/GothamPro-Black.woff') format('woff');
}

@font-face {
  font-family: 'GothamPro-Light';
  src: url('../fonts/GothamPro-Light.eot');
  src: url('../fonts/GothamPro-Light.woff') format('woff');
}

/*ШРИФТЫ*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  min-width: 320px;
  max-width: 1920px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 30px 10px #ddd;
}

.main-content {
  width: 100%;
  background-color: #ffda2d;
  padding-left: 150px;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100%;
  background-color: #f6f6f6;
  z-index: 1;
}

@media (max-width: 680px) {
  .wrapper {
    display: block;
  }

  .page-header {
    width: 100%;
    height: auto;
    background-color: transparent;
  }

  .main-content {
    margin: 0;
    padding-left: 0;
    padding-top: 80px;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 27px;
}

.page-header__hashtag {
  font-family: "GothamPro-Medium";
  color: #f73934;
  font-size: 16px;
  line-height: 3rem;
}

.site-navigation__list {
  padding-top: 1rem;
}

.site-navigation__item {
  display: block;
  position: relative;
  padding-top: 75px;
  padding-bottom: 30px;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  transition: all 0.7s ease-in-out;
}

.site-navigation__item:hover {
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.site-navigation__close {
  display: none;
}

.site-navigation__text {
  position: relative;
  color: #555;
  font-size: 14px;
}

.site-navigation__foto {
  position: absolute;
  top: -10px;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../img/foto.png);
  background-repeat: no-repeat;
  background-position: center;
}

.site-navigation__gift {
  position: absolute;
  top: -10px;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../img/gift.png);
  background-repeat: no-repeat;
  background-position: center;
}

.site-navigation__map {
  position: absolute;
  top: -10px;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url(../img/karta.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 680px) {
  .site-navigation__list {
    padding-top: 0;
  }
  .site-navigation__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #f6f6f6;
    border-top: 1px solid rgba(155, 155, 155, .18);
    padding: 15px 15px;
  }
  .site-navigation__foto,
  .site-navigation__gift,
  .site-navigation__map {
    /*width: 15%;*/
    bottom: -10px;
    left: 0px;
    background-position: 28px center;
    background-size: 40px 40px;
  }

  .site-navigation__close {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    line-height: 60px;
    background: #f0eded;
    border-top: 1px solid rgba(155, 155, 155, .18);
  }

  .site-navigation__close a {
    color: #8e8d8d;
    font-size: 12px;
    letter-spacing: .2px;
    text-shadow: 1px 2px 2px white;
    text-transform: uppercase;
  }

  .site-navigation__close:hover {
    background-color: #fff;
  }
}

.page-header__toggle {
  display: none;
}

@media (max-width: 1024px) and (min-width: 680px) {
  .page-header {
    width: 110px;
  }

  .main-content {
    padding-left: 110px;
  }
}

@media (max-width: 680px) {
  .page-header__logo {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    padding-right: 55px;
  }

  .page-header__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
  }

  .page-header__wrapper img {
    position: absolute;
    left: 20px;
    top: 15px;
    width: 57px;
    height: 50px;
  }

  .page-header__hashtag {
    font-size: 18px;
  }

  .page-header__toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    cursor: pointer;
    background-color: transparent;
  }

  .menu-icon {
    width: 35px;
    height: 5px;
    background: #f73934;
  }

  .page-header__hashtag {
    margin-left: 15rem;
  }
}

.features {
  height: 41.5rem;
  background-image: url(../img/lays.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-top: 4.5rem;
  padding-left: 5.5rem;
}

.features-icons__list {
  display: flex;
  justify-content: flex-start;
  width: 40rem;
  height: 17.5rem;
  list-style: none;
}

.features-icons__item {
  margin-right: 3.5rem;
  text-align: center;
}

.features-icons__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  background-color: #ffffff;
  border-radius: 50%;
}

.features-icons__text {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  color: #45370a;
}

.features-icons__hashtag {
  color: #f2423e;
}

.features__description {
  width: 25rem;
  color: #f73934;
  text-transform: uppercase;
}

.features__one {
  font-family: "GothamPro-Bold";
  font-size: 6rem;
  line-height: 6rem;
  letter-spacing: 0.5rem;
}

.features__two {
  font-family: "GothamPro-Light";
  font-size: 3.7rem;
  line-height: 2.8rem;
}

.features__three {
  font-family: "GothamPro-Light";
  font-size: 3.7rem;
  line-height: 5rem;
}

.features__three span {
  font-family: "GothamPro-Black";
  font-size: 5.3rem;
  letter-spacing: 1px;
  text-transform: capitalize;
}

@media (max-width: 1560px) {
  .features {
    height: 41.9rem;
  }
}

@media (max-width: 680px) {
  .features {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 153.6rem;
    background-image: url(../img/lays_mobile.jpg);
    background-position: right;
  }

  .features__description {
    width: 100%;
    text-align: center;
    padding-bottom: 5rem;
  }

  .features__one {
    font-size: 44px;
    line-height: 44px;
  }

  .features__two {
    font-size: 27px;
    line-height: 24px;
  }

  .features__three {
    font-size: 27px;
    line-height: 24px;
  }

  .features__three span {
    font-size: 37px;
    line-height: 37px;
  }

  .features-icons__list {
    width: 100%;
    justify-content: space-around;
  }

  .features-icons__item {
    width: 29rem;
  }

  .features-icons__img {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
  }

  .features-icons__text {
    font-size: 3.5rem;
    font-weight: bold;
  }
}

.gallery {
  display: flex;
  width: 100%;
}

.gallery-text {
  flex-shrink: 0;
  width: 50%;
  background-image: url(../img/girl.jpg);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: cover;
  padding-top: 0.8rem;
  padding-left: 2.5rem;
}

.gallery-text__img {
  width: 40%;
  padding-left: 50px;
}

.gallery-text__decorative {
  font-family: "GothamPro-Medium";
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -3px;
  padding-left: 4rem;
  color: #000000;
}

.gallery-text__hashtag {
  display: inline-block;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: -1px;
  margin-left: 2.8rem;
  padding-left: 0.4rem;
  padding-right: 1rem;
  background-color: #ffffff;
  color: #f73934;
}

.gallery-text__btn {
  display: block;
  width: 16rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.7rem;
  letter-spacing: 1px;
  border: 2px solid #ffffff;
  background-color: rgba(143, 12, 0, .1);
  color: #ffffff;
  margin-left: 2.8rem;
  margin-top: 2.6rem;
  margin-bottom: 4rem;
  padding: 1rem;
  transition: background ease 1s;
  cursor: pointer;
}

.gallery-text__btn:hover {
  background: rgba(143, 12, 0, 0.2);
}

.gallery-promo {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 50%;
  height: 100%;
  padding: 10px;
  background-color: #ffffff;
}

.gallery-photo__item {
  width: 33.3%;
  height: 33.3%;
  padding: 3px;
  cursor: pointer;
}

@media (max-width: 1560px) {
  .gallery-text {
    padding-top: 2.8rem;
  }

  .gallery-text__btn {
    margin-bottom: 3rem;
  }
}

@media (max-width: 680px) {
  .gallery {
    flex-wrap: wrap;
    border-top: 10px solid #ffffff;
  }

  .gallery-text {
    width: 100%;
    padding-top: 5rem;
    background-image: url(../img/girl_mobile.png);
  }

  .gallery-text__img {
    padding-top: 4.5rem;
    padding-left: 13rem;
  }

  .gallery-text__decorative {
    font-size: 7rem;
    line-height: 8.5rem;
    padding-left: 9rem;
    padding-top: 3rem;
  }

  .gallery-text__hashtag {
    font-size: 7rem;
    line-height: 8.5rem;
    margin-left: 6.5rem;
  }

  .gallery-text__btn {
    display: inline-block;
    width: 34rem;
    font-size: 3.8rem;
    letter-spacing: -1px;
    margin: 0;
    margin-left: 6rem;
    margin-bottom: 18.5rem;
    padding: 3rem 5rem;
    padding-bottom: 2rem;
  }

  .gallery-promo {
    width: 100%;
    padding: 2.5rem;
  }
}

.prize {
  display: flex;
  width: 100%;
}

.prize__text {
  position: relative;
  width: 50%;
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #f52000;
}

.prize__text::before {
  position: absolute;
  content: "";
  top: 45%;
  right: -4rem;
  margin-top: -8rem;
  border: 5rem solid transparent;
  border-bottom: 5rem solid #f52000;
  transform: rotate(90deg);
  z-index: 2;
}

.prize__wrapper {
  display: flex;
  margin-bottom: 2rem;
}

.prize__img {
  width: 65.5%;
  padding-top: 1.5rem;
  padding-left: 1rem;
}

.prize__caption {
  font-family: "GothamPro-Bold";
  color: #ffffff;
  font-size: 4rem;
  line-height: 4rem;
  padding-top: 5.5rem;
  padding-left: 0.65rem;
}

.prize__description {
  font-size: 1.3rem;
  line-height: 2rem;
  padding-right: 3rem;
  padding-left: 3.5rem;
  color: #ffffff;
}

.prize__description--mobile {
  display: none;
}

.prize__btn {
  display: block;
  width: 15.9rem;
  font-size: 1.5rem;
  line-height: 4.5rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  margin-left: 3.5rem;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
  background-color: rgba(143, 12, 0, .1);
  color: #ffffff;
  border: 2px solid #ffffff;
  transition: background ease 0.4s;
  cursor: pointer;
}

.prize__btn:hover {
  background-color: rgba(50, 12, 0, .2);
}

.prize-picture__wrapper {
  width: 50%;
  overflow: hidden;
}

.prize-picture__img {
  width: 100%;
  height: 100%;
  background-image: url(../img/balloon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 10s linear;
}

.prize-picture__img:hover {
  transform: scale(1.1);
}

/*@media (min-width: 1920px) {*/
  @media (max-width: 1920px) and (min-width: 1560px) {
  .prize__text::before {
    right: -7rem;
  }
}

@media (max-width: 1560px) {
  .prize__wrapper {
    margin-bottom: 4rem;
  }

  .prize__text::before {
    border: 3.5rem solid transparent;
    border-bottom: 3.5rem solid #f52000;
    transform: translate(20%) rotate(90deg);
  }
}

@media (max-width: 680px) {
  .prize {
    flex-wrap: wrap;
  }

  .prize__text {
    width: 100%;
    padding: 8rem 7rem;
    padding-top: 6rem;
  }

  .prize__text:before {
    display: none;
  }

  .prize__wrapper {
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }

  .prize__img {
    order: 1;
    width: 44%;
    padding-top: 0;
    padding-left: 5rem;
  }

  .prize__caption {
    order: 1;
    font-size: 9rem;
    line-height: 10rem;
    padding-left: 3rem;
  }

  .prize__description {
    display: none;
  }

  .prize__description--mobile {
    display: block;
    width: 55%;
    font-size: 4rem;
    line-height: 5rem;
    letter-spacing: -1px;
    color: #ffffff;
    padding-top: 7.5rem;
    padding-left: 3rem;
  }

  .prize__btn {
    display: block;
    width: 35rem;
    font-size: 3.5rem;
    margin: 0 auto;
    margin-top: 6rem;
    margin-bottom: 7rem;
    padding: 0;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: rgba(255, 245, 159, .1);
  }

  .prize-picture__wrapper {
    position: relative;
    width: 100%;
    height: 97rem;
  }

  .prize__text::after {
    position: absolute;
    content: "";
    left: 45%;
    bottom: 0;
    border: 5.5rem solid transparent;
    border-bottom: 5rem solid #2167c1;
  }
}

.summer {
  display: flex;
  width: 100%;
}

.summer-picture__wrapper {
  width: 50%;
  /*height: 45rem;*/
  overflow: hidden;
}

.summer-picture__img {
  width: 100%;
  height: 100%;
  background-image: url(../img/company.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 10s linear;
}

.summer-picture__img:hover {
  transform: scale(1.1);
}

.summer__text {
  position: relative;
  width: 50%;
  padding: 3rem;
  padding-top: 29rem;
  padding-bottom: 1rem;
  background-image: url(../img/mark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.summer__text::before {
  position: absolute;
  content: "";
  width: 5rem;
  height: 14rem;
  top: 50%;
  left: -3rem;
  margin-top: -5rem;
  background-image: url(../img/triangle-yellow.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.summer__description {
  font-family: "GothamPro-Bold";
  color: #301f20;
  font-size: 4.2rem;
  line-height: 7rem;
  text-align: center;
}

.summer__btn {
  display: block;
  width: 16rem;
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 4rem;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  margin-top: 1.3rem;
  margin-bottom: 2rem;
  border: 2px solid #ffffff;
  background-color: rgba(143, 12, 0, .1);
  transition: background ease 0.4s;
  cursor: pointer;
}

.summer__btn:hover {
  background-color: rgba(50, 12, 0, .2);
}

.summer-picture__img--mobile {
  display: none;
}

@media (max-width: 680px) {
  .summer {
    flex-wrap: wrap;
    border-top: 10px solid #ffffff;
  }

  .summer-picture__wrapper {
    order: 1;
    width: 100%;
    height: 101rem;
  }

  .summer-picture__img--mobile {
    display: block;
  }

  .summer__text {
    width: 100%;
    background-image: url(../img/mark_mobile.png);
    background-color: #b9dbf4;
    background-repeat: no-repeat;
    padding-top: 64rem;
    padding-bottom: 14.5rem;
  }

  .summer__text::before {
    display: none;
  }

  .summer__description {
    font-size: 9rem;
    line-height: 7rem;
    letter-spacing: 1px;
    padding-left: 0.8rem;
  }

  .summer__btn {
    width: 35rem;
    margin-top: 6rem;
    font-size: 3.5rem;
    line-height: 9rem;
    letter-spacing: 1px;
  }
}

.main-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 80px;
  background: #3c3c3c;
}

.footer-logo {
  width: 55px;
  height: 100%;
  margin-left: 2rem;
  margin-right: 1rem;
  background: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.footer-text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 0.9rem;
  color: #b4b4b4;
}

.footer-social {
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 100%;
  margin: 0px;
  margin-left: auto;
}

.facebook,
.vk,
.mir,
.youtube {
  width: 90px;
  height: 100%;
  cursor: pointer;
  transition: filter ease 0.4s;
}

.facebook {
  background: #336aa3 url(../img/facebook.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.vk {
  background: #3478a7 url(../img/vk.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.mir {
  background: #e9bf13 url(../img/mir.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.youtube {
  background: #c4070e url(../img/youtube.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.facebook:hover,
.vk:hover,
.mir:hover,
.youtube:hover {
  filter: contrast(150%);
  opacity: 1;
}

@media (max-width: 1024px) and (min-width: 680px) {
  .main-footer {
    height: 50px;
  }

  .footer-logo {
    height: 50px;
    width: 42px;
  }

  .footer-text {
    font-size: 12px;
  }

  .facebook, .vk, .mir, .youtube {
    width: 50px;
    background-size: 45px;
  }
}

@media (max-width: 1400px) and (min-width: 1024px) {
  .main-footer {
    height: 60px;
  }

  .facebook, .vk, .mir, .youtube {
    width: 60px;
  }
}

@media (max-width: 680px) {
  .main-footer {
    height: 7.5rem;
  }

  .footer-logo,
  .footer-desktop {
    display: none;
  }

  .footer-text {
    margin-left: 5%;
    font-size: 9px;
  }
  .facebook,
  .vk,
  .mir,
  .youtube {
    width: 45px;
    background-size: 6.8rem;
  }
}

@media (max-width: 679px) {
  .site-navigation__item {
    opacity: 0;
    transform: translate3d(50px,0,0);
    transition: transform .5s ease,opacity .5s ease;
  }

  .site-navigation__item:nth-child(odd) {
    transform: translate3d(-50px,0,0);
  }

  .page-header:not(.page-header--opened) .site-navigation__item {
  z-index: -1;
}

  .page-header.page-header--opened .site-navigation__item {
    opacity: 1;
    transform: translate3d(0,0,0);
  }

  .page-header__toggle {
    display: block;
    position: absolute;
    top: 27px;
    right: 20px;
    width: 32.5px;
    height: 25.5px;
  }

  .page-header__toggle:focus {
    outline: none;
  }

  .menu-icon {
    width: 32px;
    height: 5px;
    background: #fc202e;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    opacity: 1;
    transform-origin: left center;
    transition: all .2s ease-in-out;
  }

  .menu-icon-2 {
    top: 10px;
  }

  .menu-icon-3 {
    top: 21px;
  }

  .page-header.page-header--opened .menu-icon-1{
    transform: rotate(45deg) translate3d(-1px,-1px,0);
  }

  .page-header.page-header--opened .menu-icon-2 {
    opacity: 0;
    transform: scale(0);
  }

  .page-header.page-header--opened .menu-icon-3{
    transform: rotate(-45deg) translate3d(0,0,0);
  }

}